div {
  width: 100%;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  }
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/